/* Green */
body {
    /* Font color */
    /* Main header fonts*/
    font-family: Montserrat;
    /* Italic black fonts */
    font-family: KaushanScript;
    color:  #333333;

    /*Small text*/
    font-family: Roboto;
    color:  #999999;

    /* Icons colors */
    color:  #95e1d3;
    color:  #f38181;
    color:  #fce38a;
    /* Background colors*/
    background-color:  #f8f8f8;
}
