/* Application primary text color */
/* Application secondary tetx color */
/* Application background color */
/**
 * Set up a decent box model on the root element
 */
html {
  box-sizing: border-box; }

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*,
*::before,
*::after {
  box-sizing: inherit; }

/**
 * Basic styles for links
 */
a {
  color: #333333;
  text-decoration: none; }
  a:hover, a:active, a:focus {
    color: #333333;
    text-decoration: none; }

.wrapper {
  margin-top: 4em;
  margin-bottom: 4em; }

/* Section Header styles */
.section-header {
  padding: 2em;
  margin: 0; }
  .section-header .head1 {
    font-family: "Kaushan Script", cursive;
    font-size: 24px;
    text-align: center; }
  .section-header .head2 {
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase; }
  .section-header .seperator {
    background-color: #f38181;
    width: 60px;
    height: 3px; }

/* end of Section Header styles */
/* General paragraph style */
.paragraph {
  font-family: "Roboto", sans-serif;
  color: #999999;
  text-align: center;
  padding: 1em; }

/* Application header styles */
.top-row {
  width: 100vw;
  height: 1000px;
  background: -webkit-linear-gradient(bottom, #f38181, #fce38a);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom, #f38181, #fce38a);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom, #f38181, #fce38a);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom, #f38181, #fce38a);
  /* Standard syntax (must be last) */ }
  .top-row .header-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow-wrap: break-word;
    padding: 1em; }
    .top-row .header-row .logo {
      font-size: 30px;
      font-weight: 700;
      color: #ffffff; }
    .top-row .header-row nav .nav {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      overflow-wrap: break-word; }
      .top-row .header-row nav .nav .nav-item {
        display: flex;
        flex-direction: row;
        justify-content: center;
        overflow-wrap: break-word;
        align-items: center;
        padding: 0;
        margin: 0 0.5em; }
        .top-row .header-row nav .nav .nav-item .nav-link {
          font-family: "Montserrat", sans-serif;
          font-weight: 400;
          color: #ffffff;
          text-transform: uppercase; }
          .top-row .header-row nav .nav .nav-item .nav-link.active {
            color: #fce38a;
            border-bottom: 1px solid #fce38a; }
          .top-row .header-row nav .nav .nav-item .nav-link:hover, .top-row .header-row nav .nav .nav-item .nav-link:active, .top-row .header-row nav .nav .nav-item .nav-link:focus {
            color: #fce38a;
            background: none; }
        .top-row .header-row nav .nav .nav-item .fa {
          font-weight: 400;
          color: #ffffff;
          min-width: 30px; }
  .top-row .section-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-wrap: break-word;
    align-items: center; }
    .top-row .section-header * {
      color: #ffffff; }
    .top-row .section-header .head1 {
      font-size: 72px; }
    .top-row .section-header .head2 {
      font-size: 150px; }
    .top-row .section-header .seperator {
      background-color: inherit; }

/* end of application header styles */
/* General card styles */
.imaged-card {
  width: 380px;
  height: 250px;
  margin: 0.5em; }
  .imaged-card .overlay-card {
    display: none; }
    .imaged-card .overlay-card .card-img {
      width: 380px;
      height: 250px; }
  .imaged-card:hover {
    position: relative;
    bottom: 7px; }
    .imaged-card:hover .overlay-card {
      display: flex;
      flex-direction: column;
      justify-content: center;
      overflow-wrap: break-word;
      width: 100%;
      height: 100%;
      align-items: center;
      position: relative;
      top: -100%;
      bottom: -100%;
      z-index: 10;
      opacity: 0.9;
      background: -webkit-linear-gradient(bottom, #f38181, #fce38a);
      /* For Safari 5.1 to 6.0 */
      background: -o-linear-gradient(bottom, #f38181, #fce38a);
      /* For Opera 11.1 to 12.0 */
      background: -moz-linear-gradient(bottom, #f38181, #fce38a);
      /* For Firefox 3.6 to 15 */
      background: linear-gradient(to bottom, #f38181, #fce38a);
      /* Standard syntax (must be last) */
      -webkit-box-shadow: 7px 7px 0px 0px #46cbb2;
      -moz-box-shadow: 7px 7px 0px 0px #46cbb2;
      box-shadow: 7px 7px 0px 0px #46cbb2;
      cursor: pointer; }
      .imaged-card:hover .overlay-card .card-text {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        overflow-wrap: break-word;
        align-items: center;
        color: #ffffff;
        z-index: 10;
        opacity: 1; }
        .imaged-card:hover .overlay-card .card-text* {
          font-size: 18px;
          font-weight: 700;
          color: #ffffff;
          margin: 0.5em; }

/* General card styles */
/* Cards specific to the stories */
.stories .story-card {
  width: 380px;
  height: 250px; }
  .stories .story-card:hover .overlay-card .card-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-wrap: break-word;
    align-items: center;
    color: #ffffff;
    z-index: 10;
    opacity: 1; }
    .stories .story-card:hover .overlay-card .card-text span {
      text-transform: uppercase;
      font-weight: 700; }

/* end of Cards specific to the stories */
/* general article card */
.article-card {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 30px 335px;
  margin: 2em; }
  .article-card .card-icon {
    color: #95e1d3;
    grid-column: 1;
    grid-row: 1 / 2; }
  .article-card .card-title {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    text-align: left;
    margin: 0;
    grid-column: 2 / 2;
    grid-row: 1; }
  .article-card .card-txt {
    font-family: "Roboto", sans-serif;
    color: #999999;
    text-align: left;
    grid-column: 2 / 2;
    grid-row: 2; }

/* end of general article card */
/* Specific article cards for Services */
.services-items {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 33% 33% 33%;
  align-items: center; }

/* end of Specific article cards for Services */
/* Staistics item styles */
.stats-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-wrap: break-word;
  flex-grow: 1;
  padding: 2em;
  margin: 0;
  border: 1px solid rgba(255, 255, 255, 0.3); }
  .stats-item * {
    color: #ffffff;
    text-align: center; }
  .stats-item .stats-val {
    font-size: 72px;
    font-weight: 700;
    text-align: center; }

/* end of Staistics item styles */
/* Staistics row styles */
.stats-row {
  background-color: #95e1d3; }
  .stats-row div.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow-wrap: break-word; }

/* end of Staistics row styles */
.stories {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow-wrap: break-word; }
