/* General styles */
.align-horizontally, #head-wrap #header-row #header-right #myNavbar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center; }

.align-vertically, .imaged-card:hover .overlay-card {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap; }

.space-around {
  justify-content: space-around; }

.space-evenly {
  justify-content: space-evenly; }

.space-between, #head-wrap #header-row #header-right #myNavbar {
  justify-content: space-between; }

.center {
  justify-content: center; }

.start {
  justify-content: flex-start; }

.end {
  justify-content: flex-end; }

/* end of General styles */
.wrapper {
  width: 1210px;
  margin: 25px auto; }

/* General paragraph style */
.paragraph {
  font-family: "Roboto", sans-serif;
  color: #999;
  text-align: center;
  padding: 1em; }

/* Add a colored background */
.rainbow-bg, .imaged-card:hover .overlay-card {
  background: -webkit-linear-gradient(bottom, #f38181, #fce38a);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom, #f38181, #fce38a);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom, #f38181, #fce38a);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom, #f38181, #fce38a);
  /* Standard syntax (must be last) */ }

/* Statistics row media queries */
@media only screen and (min-width: 0) and (max-width: 1209px) {
  .wrapper {
    width: 100%; } }

/* end of statistics row media queries */
/**
 * Set up a decent box model on the root element
 */
html {
  box-sizing: border-box; }

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*,
*::before,
*::after {
  box-sizing: inherit; }

/**
 * Basic styles for links
 */
a {
  color: #333333;
  text-decoration: none; }
  a:hover, a:active, a:focus {
    color: #333333;
    text-decoration: none; }

hr {
  border: none; }

/**
 * Clear inner floats
 */
.clearfix::after {
  clear: both;
  content: '';
  display: table; }

/**
 * Main content containers
 * 1. Make the container full-width with a maximum width
 * 2. Center it in the viewport
 * 3. Leave some space on the edges, especially valuable on small screens
 */
.container {
  max-width: 1180px;
  /* 1 */
  margin-left: auto;
  /* 2 */
  margin-right: auto;
  /* 2 */
  padding-left: 20px;
  /* 3 */
  padding-right: 20px;
  /* 3 */
  width: 100%;
  /* 1 */ }

/**
 * Hide text while making it readable for screen readers
 * 1. Needed in WebKit-based browsers because of an implementation bug;
 *    See: https://code.google.com/p/chromium/issues/detail?id=457146
 */
.hide-text {
  overflow: hidden;
  padding: 0;
  /* 1 */
  text-indent: 101%;
  white-space: nowrap; }

/**
 * Hide element while making it readable for screen readers
 * Shamelessly borrowed from HTML5Boilerplate:
 * https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css#L119-L133
 */
.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/* Clears elements margin, padding & positioning*/
.clearElement, #myCarousel .carousel-inner .item .carousel-caption, #myCarousel .carousel-indicators, #myCarousel .carousel-indicators li {
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }

/* Application header styles */
.top-row {
  width: 100%; }
  .top-row .wrapper {
    margin-top: 0; }
    .top-row .wrapper .section-header {
      align-items: center; }
      .top-row .wrapper .section-header * {
        color: #fff; }
      .top-row .wrapper .section-header .head1 {
        font-size: 72px; }
      .top-row .wrapper .section-header .head2 {
        font-size: 150px; }
      .top-row .wrapper .section-header .seperator {
        background-color: inherit; }

#head-wrap {
  position: fixed;
  top: 0;
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  z-index: 20; }
  #head-wrap #header-row {
    height: 70px;
    max-height: 70px;
    padding: 10px 5px;
    margin: 0 !important; }
    #head-wrap #header-row #header-left .fa-bars {
      display: none; }
    #head-wrap #header-row #header-left .logo {
      font-size: 30px;
      font-weight: 700;
      color: #fff; }
    #head-wrap #header-row #header-right #myNavbar #nav-close {
      display: none;
      color: #fff;
      text-align: right;
      padding: 20px;
      cursor: pointer; }
    #head-wrap #header-row #header-right #myNavbar .nav .nav-item {
      align-items: center;
      padding: 0;
      margin: 0 0.5em; }
      #head-wrap #header-row #header-right #myNavbar .nav .nav-item .nav-link {
        font-family: "Montserrat", sans-serif;
        font-weight: 400;
        color: #fff;
        text-transform: uppercase; }
        #head-wrap #header-row #header-right #myNavbar .nav .nav-item .nav-link.active {
          color: #fce38a;
          border-bottom: 1px solid #fce38a; }
        #head-wrap #header-row #header-right #myNavbar .nav .nav-item .nav-link:hover, #head-wrap #header-row #header-right #myNavbar .nav .nav-item .nav-link:active, #head-wrap #header-row #header-right #myNavbar .nav .nav-item .nav-link:focus {
          color: #fce38a;
          background: none; }
      #head-wrap #header-row #header-right #myNavbar .nav .nav-item .fa {
        font-weight: 400;
        color: #fff;
        min-width: 30px; }
    #head-wrap #header-row #header-right #app-actions {
      padding: 0 10px; }
      #head-wrap #header-row #header-right #app-actions * {
        color: #fff;
        margin: 0 5px; }

/* Header media queries */
@media only screen and (min-width: 0) and (max-width: 1209px) {
  #head-wrap {
    background: -webkit-linear-gradient(bottom, #f38181, #fce38a);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom, #f38181, #fce38a);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom, #f38181, #fce38a);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom, #f38181, #fce38a);
    /* Standard syntax (must be last) */ }
  .top-row {
    background: none;
    padding-top: 70px; } }

@media only screen and (min-width: 0) and (max-width: 800px) {
  #head-wrap #header-row #header-left .fa-bars {
    display: block;
    color: #fff;
    cursor: pointer;
    padding: 0 20px; }
  #head-wrap #header-row #header-right nav {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 25;
    margin-left: -200px;
    width: 200px;
    min-width: 200px;
    height: 100%;
    overflow: auto;
    background: -webkit-linear-gradient(bottom, #f38181, #fce38a);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom, #f38181, #fce38a);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom, #f38181, #fce38a);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom, #f38181, #fce38a);
    /* Standard syntax (must be last) */
    transition: margin 1s; }
    #head-wrap #header-row #header-right nav.active {
      margin-left: 0; }
      #head-wrap #header-row #header-right nav.active #nav-close {
        display: block !important;
        width: 100%; }
      #head-wrap #header-row #header-right nav.active ul.nav {
        padding-top: 10px;
        flex-direction: column !important;
        align-items: flex-start !important; } }

/* end of Header row media queries */
/* end of application header styles */
/* Section Header styles */
.section-header {
  padding: 20px;
  margin: 0; }
  .section-header .head1 {
    font-family: "Kaushan Script", cursive;
    font-size: 24px;
    text-align: center; }
  .section-header .head2 {
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase; }
  .section-header .seperator {
    background-color: #f38181;
    width: 60px;
    height: 3px; }

/* end of Section Header styles */
/* Header Carousel styles */
#myCarousel {
  padding-top: 70px; }
  #myCarousel .carousel-inner {
    align-items: center;
    width: 100%;
    min-height: 600px;
    margin-bottom: 100px; }
    #myCarousel .carousel-inner .item .carousel-caption {
      font-family: "Montserrat", sans-serif;
      font-size: 70px;
      position: relative;
      color: #fff;
      text-shadow: none; }
      #myCarousel .carousel-inner .item .carousel-caption a[role=button] {
        width: 160px;
        height: 40px;
        color: #fff;
        font-family: "Montserrat", sans-serif;
        font-size: 14px;
        font-weight: 700;
        text-align: center;
        text-transform: uppercase;
        text-shadow: none;
        border: 3px solid #fff;
        padding: 0.5em 0; }
        #myCarousel .carousel-inner .item .carousel-caption a[role=button]:hover {
          -webkit-box-shadow: 2px 2px 5px 0px white;
          -moz-box-shadow: 2px 2px 5px 0px white;
          box-shadow: 2px 2px 5px 0px white; }
  #myCarousel .carousel-indicators {
    align-items: center;
    position: relative;
    width: 100%;
    top: -60px; }
    #myCarousel .carousel-indicators li {
      width: 280px;
      height: 3px;
      border-radius: 0;
      border: none;
      background-color: rgba(255, 255, 255, 0.5);
      text-indent: 0; }
      #myCarousel .carousel-indicators li.active {
        background-color: #f38181; }
        #myCarousel .carousel-indicators li.active .ind-caption * {
          color: #fff; }
      #myCarousel .carousel-indicators li .ind-caption * {
        color: rgba(255, 255, 255, 0.5);
        font-family: "Montserrat", sans-serif;
        text-align: left;
        padding: 20px 0;
        margin: 0; }
      #myCarousel .carousel-indicators li .ind-caption span {
        font-size: 24px;
        font-weight: 700;
        padding: 13px 10px 10px 0; }
      #myCarousel .carousel-indicators li .ind-caption p {
        font-size: 18px;
        font-weight: 400;
        text-transform: uppercase; }

/* Carousel Header Media Queries */
@media only screen and (min-width: 0) and (max-width: 1209px) {
  .top-row .wrapper #myCarousel {
    display: none; } }

/* end of Carousel Header Media Queries */
/* end of Header Carousel styles */
/* General card styles */
.imaged-card {
  margin: 10px; }
  .imaged-card .overlay-card {
    display: none; }
    .imaged-card .overlay-card .card-img {
      width: 380px;
      height: 250px;
      min-width: 380px;
      min-height: 250px; }
  .imaged-card:hover {
    position: relative;
    bottom: 7px; }
    .imaged-card:hover .overlay-card {
      justify-content: center;
      width: 100%;
      height: 100%;
      position: relative;
      top: -100%;
      bottom: -100%;
      z-index: 10;
      opacity: 0.9;
      -webkit-box-shadow: 7px 7px 0px 0px #46cbb2;
      -moz-box-shadow: 7px 7px 0px 0px #46cbb2;
      box-shadow: 7px 7px 0px 0px #46cbb2;
      cursor: pointer; }
      .imaged-card:hover .overlay-card .card-text {
        align-items: center;
        color: #fff;
        z-index: 10;
        opacity: 1; }
        .imaged-card:hover .overlay-card .card-text* {
          font-size: 18px;
          font-weight: 700;
          color: #fff;
          margin: auto; }

/* General card styles */
/* general article card */
.article-card {
  padding: 25px;
  width: 350px;
  min-width: 350px; }
  .article-card .card-icon {
    color: #95e1d3; }
  .article-card .card-title {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    text-align: left;
    padding-bottom: 5px; }
  .article-card .card-text {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    color: #999;
    text-align: left; }

/* end of general article card */
/* Staistics item styles */
.stats-item {
  flex-grow: 1;
  padding: 2em;
  margin: 0;
  border: 1px solid rgba(255, 255, 255, 0.3); }
  .stats-item * {
    font-family: "Montserrat", sans-serif;
    color: #fff;
    text-align: center; }
  .stats-item .stats-val {
    font-size: 72px;
    font-weight: 700;
    text-align: center; }
  .stats-item .stats-txt {
    text-transform: uppercase; }

/* end of Staistics item styles */
/* Staistics row styles */
.stats-row {
  background-color: #95e1d3; }

/* end of Staistics row styles */
/* Cards specific to the stories */
.stories .story-card {
  width: 380px;
  height: 250px; }
  .stories .story-card:hover .overlay-card .card-text {
    align-items: center;
    color: #fff;
    z-index: 10;
    opacity: 1; }
    .stories .story-card:hover .overlay-card .card-text span {
      text-transform: uppercase;
      font-weight: 700; }

/* end of Cards specific to the stories */
/* Specific article cards for Services */
.services-items .services-row {
  align-items: baseline;
  border-bottom: 1px solid  #e5e5e5; }
  .services-items .services-row:last-child {
    border-bottom: none; }

/* Media Query for Specific article cards for Services  */
@media only screen and (min-width: 0) and (max-width: 1209px) {
  .services-items .services-row {
    border-bottom: none; } }

/* end of Media Query for Specific article cards for Services  */
/* end of Specific article cards for Services */
