// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

/* Application header styles */
.top-row {
    width: 100%;  

    .wrapper {
        margin-top: 0;
    
        .section-header { 
            align-items: center;
    
            * {
                color: $white-color;
            }
            
            .head1 {
              font-size: 72px;
            }
            .head2 {
              font-size: 150px;
            }
            .seperator {
                background-color: inherit;
            }
        }
    }

}


#head-wrap {
    position: fixed;
    top: 0; 
    width: 100%;
    min-width: 100%;
    max-width: 100%;       
    z-index: 20;  

    #header-row {        
        height: 70px;
        max-height: 70px;          
        padding: 10px 5px;
        margin: 0 !important; 
    
        #header-left {
            .fa-bars {
                display: none;
            }
        
            .logo {
                font-size: 30px;
                font-weight: 700;
                color: $white-color;                        
            }
        }

        #header-right {
            #myNavbar {
                @extend .align-horizontally;
                @extend .space-between;
                #nav-close {
                    display: none;
                    color: $white-color;
                    text-align: end;                                              
                    padding: 20px;
                    cursor: pointer;
                }
                
                .nav {
                    .nav-item {
                        align-items: center;                   
                        padding: 0;
                        margin: 0 0.5em;
        
                        .nav-link {
                            font-family: $text-font-stack;
                            font-weight: 400;
                            color: $white-color;
                            text-transform: uppercase;
        
                            &.active {
                                color: $orange-yellow-color;
                                border-bottom: 1px solid $orange-yellow-color;
                            }
        
                            @include on-event {
                                color: $orange-yellow-color;
                                background: none;                            
                            }
                        }
        
                        .fa {
                            font-weight: 400;
                            color: $white-color;
                            min-width: 30px;
                        }
                    }
                }
            }
    
            #app-actions {
                padding: 0 10px;
                * {
                    color: $white-color;
                    margin: 0 5px;
                }
            }
        }
    }     
}

/* Header media queries */
@media only screen and (min-width: 0) and (max-width: 1209px) {
    #head-wrap {
        background: -webkit-linear-gradient(bottom, $pink-orange-color, $orange-yellow-color); /* For Safari 5.1 to 6.0 */
        background: -o-linear-gradient(bottom, $pink-orange-color, $orange-yellow-color); /* For Opera 11.1 to 12.0 */
        background: -moz-linear-gradient(bottom, $pink-orange-color, $orange-yellow-color); /* For Firefox 3.6 to 15 */
        background: linear-gradient(to bottom, $pink-orange-color, $orange-yellow-color); /* Standard syntax (must be last) */
    }
    .top-row {
        background: none;
        padding-top: 70px;
    }
}

@media only screen and (min-width: 0) and (max-width: 800px) {   
    #head-wrap {
        #header-row {

            #header-left {
                .fa-bars {
                    display: block;
                    color: $white-color;
                    cursor: pointer;
                    padding: 0 20px;
                }
            }
            #header-right {
                nav {
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: flex-start;                
                    position: fixed;
                    top: 0;
                    left: 0;
                    z-index: 25;
                    margin-left: -200px;
                    width: 200px;
                    min-width: 200px;
                    height: 100%;
                    overflow: auto;
                    background: -webkit-linear-gradient(bottom, $pink-orange-color, $orange-yellow-color); /* For Safari 5.1 to 6.0 */
                    background: -o-linear-gradient(bottom, $pink-orange-color, $orange-yellow-color); /* For Opera 11.1 to 12.0 */
                    background: -moz-linear-gradient(bottom, $pink-orange-color, $orange-yellow-color); /* For Firefox 3.6 to 15 */
                    background: linear-gradient(to bottom, $pink-orange-color, $orange-yellow-color); /* Standard syntax (must be last) */
                    transition: margin 1s;
    
                    &.active {
                        margin-left: 0;
    
                        #nav-close {
                            display: block !important;
                            width: 100%;
                        }
    
                        ul.nav {
                            padding-top: 10px;
                            flex-direction: column !important;
                            align-items: flex-start !important;
                        }
                    }
                }
            }                            
        }
    }    
}
/* end of Header row media queries */

/* end of application header styles */