// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

/* Application header styles */
.top-row {
    width: 100vw;
    height: 1000px;
    background-image: url(../../images/bg.jpg);
    background: -webkit-linear-gradient(bottom, #f38181, #fce38a); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom, #f38181, #fce38a); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom, #f38181, #fce38a); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom, #f38181, #fce38a); /* Standard syntax (must be last) */
    .header-row {        
        @include align-horizontally (space-between);    
        padding: 1em;
        .logo {
            font-size: 30px;
            font-weight: 700;
            color: $white-color;                        
        }
        nav {
            .nav {
                @include align-horizontally (space-between);
                .nav-item {
                    @include align-horizontally (center);
                    align-items: center;                   
                    padding: 0;
                    margin: 0 0.5em;

                    .nav-link {
                        font-family: $text-font-stack;
                        font-weight: 400;
                        color: $white-color;
                        text-transform: uppercase;

                        &.active {
                            color: $orange-yellow-color;
                            border-bottom: 1px solid $orange-yellow-color;
                        }

                        @include on-event {
                            color: $orange-yellow-color;
                            background: none;                            
                        }
                    }

                    .fa {
                        font-weight: 400;
                        color: $white-color;
                        min-width: 30px;
                    }
                }
            }
        }
    } 

    .section-header {
        @include align-vertically (space-between);   
        align-items: center;

        * {
            color: $white-color;
        }
        
        .head1 {
          font-size: 72px;
        }
        .head2 {
          font-size: 150px;
        }
        .seperator {
            background-color: inherit;
        }
    }
}
/* end of application header styles */