// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

/**
 * Set up a decent box model on the root element
 */
html {
  box-sizing: border-box;
}

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*,
*::before,
*::after {
  box-sizing: inherit;
  // border: 1px solid red;
}

/**
 * Basic styles for links
 */
a {
  color: $black-color;
  text-decoration: none;

  @include on-event {
    color: $black-color;
    text-decoration: none;
  }
}

/* Wrapper class for all columns */
.wrapper {
  padding: 0 10vw;
} /* end of Wrapper class for all columns */

/* Section Header styles */
.section-header {
  padding: 4em 2em;
  margin: 0;

  .head1 {
    font-family: $text-italic-font-stack;
    font-size: 24px;
    text-align: center;
  }
  .head2 {
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;    
  }
  .seperator {
    background-color: $pink-orange-color;
    width: 60px;
    height: 3px;
  }
} /* end of Section Header styles */

/* General paragraph style */
.paragraph {
  font-family: $text-secondary-font-stack;
  color: $light-grey-color;
  text-align: center;
  padding: 1em;  
}


