// -----------------------------------------------------------------------------
// This file contains all styles related to the card component.
// -----------------------------------------------------------------------------

/* General card styles */
$imaged-card-pos: 7px;
.imaged-card {
    margin: 10px;
    .overlay-card {
        display: none;  
        .card-img {
            width: 380px;
            height: 250px;
            min-width: 380px;
            min-height: 250px;
        }
    }
    &:hover {
        position: relative;
        bottom: $imaged-card-pos;
        .overlay-card {
            @extend .align-vertically;
            justify-content: center;
            width: 100%;
            height: 100%;            
            position: relative;
            top: calc(-100% - 17px);
            bottom: -100%;
            z-index: 10;     
            opacity: 0.9;           
            @extend  .rainbow-bg;
           
            //TODO move the below to mixin
            -webkit-box-shadow: $imaged-card-pos $imaged-card-pos 0px 0px darken($green-blue-color, 20%);
            -moz-box-shadow: $imaged-card-pos $imaged-card-pos 0px 0px darken($green-blue-color, 20%);
            box-shadow: $imaged-card-pos $imaged-card-pos 0px 0px darken($green-blue-color, 20%);
            cursor: pointer;

            .card-text {
                align-items: center;
                color: $white-color;
                z-index: 10;
                opacity: 1;
                &* {
                    font-size: 18px;
                    font-weight: 700;                 
                    color: $white-color;
                    margin: auto;
                    
                } 
            }
            
        }
    }
} /* General card styles */


/* general article card */
.article-card {
    padding: 25px;
    width: 350px;
    min-width: 350px;

    .card-icon {
        color: $green-blue-color;
    }

    .card-title {
        font-family: $text-font-stack;
        font-size: 15px;
        font-weight: 400;
        text-transform: uppercase;
        text-align: left;
        padding-bottom: 5px;
    }

    .card-text {
        font-family: $text-secondary-font-stack;
        font-size: 15px;
        font-weight: 400;
        color: $light-grey-color;
        text-align: left;
    }
}
/* end of general article card */