// -----------------------------------------------------------------------------
// This file contains all styles related to the carousel component.
// -----------------------------------------------------------------------------

/* Header Carousel styles */
#myCarousel {
    .carousel-inner {
        @include align-vertically(space-between);
        align-items: center;
        width: 100%;
        min-height: 600px;
        margin-bottom: 100px;
        .item {
            .carousel-caption {
                font-family: $text-font-stack;
                font-size: 70px;
                position: relative;
                color: $white-color;   
                text-shadow: none;
                @extend .clearElement;    
                a[role=button] {
                    width: 160px;
                    height: 40px;
                    color: $white-color;
                    font-family: $text-font-stack;
                    font-size: 14px;
                    font-weight: 700;
                    text-align: center;
                    text-transform: uppercase;
                    text-shadow: none;
                    border: 3px solid $white-color;
                    padding: 0.5em 0;
                }        
            }
        }
    }
    .carousel-indicators {
        @include align-horizontally(space-between);        
        align-items: center;
        position: relative;
        width: 100%;
        @extend .clearElement;
        top: -60px;        
        li {
            width: 280px;
            height: 3px;
            border-radius: 0;
            border: none;
            background-color: rgba(255, 255, 255, 0.5);
            text-indent: 0;
            @extend .clearElement;            
            &.active {
                background-color: $pink-orange-color;                
                .ind-caption {
                    * {                        
                        color: $white-color;
                    }
                }
            }

            .ind-caption {
                @include align-horizontally(flex-start);

                * {
                    color: rgba(255, 255, 255, 0.5);
                    font-family: $text-font-stack;
                    text-align: left;
                    padding: 20px 0;
                    margin: 0;
                }

                span {                    
                    font-size: 24px;
                    font-weight: 700;  
                    padding: 13px 10px 10px 0;                   
                }
                p {
                    font-size: 18px;
                    font-weight: 400;
                    text-transform: uppercase;
                }
            }
        }
    }
}

/* Carousel Media Queries */
@media only screen and (min-width: 0) and (max-width: 1209px) {
}
/* end of Carousel Media Queries */
/* end of Header Carousel styles */