// -----------------------------------------------------------------------------
// This file contains all styles related to the statistics component.
// -----------------------------------------------------------------------------

/* Staistics item styles */
.stats-item {
    flex-grow: 1;
    padding: 2em;
    margin: 0;
    border: 1px solid rgba(255, 255, 255, 0.3); 
    *{
        font-family: $text-font-stack;
        color: $white-color;
        text-align: center;
    }
    .stats-val {
        font-size: 72px;
        font-weight: 700;
        text-align: center;
    }
    .stats-txt {
        text-transform: uppercase;
    }
} /* end of Staistics item styles */

/* Staistics row styles */
.stats-row {
    background-color: $green-blue-color;
} /* end of Staistics row styles */