// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

/* Cards specific to the stories */
.stories {        
    .story-card {
        width: 380px; // This is initial width, to be overriden with each new card type if needed
        height: 250px; // This is initial height, to be overriden with each new card type if needed

        &:hover {
            .overlay-card {
                .card-text {
                    align-items: center;
                    color: $white-color;
                    z-index: 10;
                    opacity: 1;                    
                    span {
                        text-transform: uppercase;
                        font-weight: 700;
                    }
                }
            }
        }
    }
} /* end of Cards specific to the stories */

/* Specific article cards for Services */
.services-items {
    .services-row {        
        align-items: baseline;
        border-bottom: 1px solid  $border-light-grey-color;
        &:last-child {
            border-bottom: none;
        }
    }
} 

/* Media Query for Specific article cards for Services  */
@media only screen and (min-width: 0) and (max-width: 1209px) {
    .services-items {
        .services-row {
            border-bottom: none;
        }
    }
} /* end of Media Query for Specific article cards for Services  */
/* end of Specific article cards for Services */
